@{
    ViewData["Title"] = "Home Page";
    User NewUser = new User();
    LoginUser NewLoginUser = new LoginUser();
}

<h1>Hobby Hub!</h1>


<partial name="RegPartial"/>
<partial name="LogPartial"/>