
@model User

<h2>Register</h2>
<form asp-action="register" method="post" asp-controller="Home">
    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="Confirm">Confirm Password:</label>
        <input asp-for="Confirm" type="password" class="form-control">
        <span class="text-danger" asp-validation-for="Confirm"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-dark" >Sign up Now</button>
    </div>
</form>